@model O2GEN.Models.DeskModels.ControlListModel
@{
    ViewData["Title"] = "Контроли";
}
<section class="component-section">

    <div id="placeholder"></div>
    <div class="row-container-left bg-blue with-padding">
        <button class="transparent-btn">
            <i class="fa fa-plus color-white"></i>
            <p class="color-white">Создать</p>
        </button>
    </div>

    <div class="margin-between-above">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        <p>
                            Отображаемое название
                        </p>
                    </th>

                    <th>
                        <p>
                            Тип
                        </p>
                    </th>

                    <th>
                        <p>

                        </p>
                    </th>

                </tr>

            </thead>
            <tbody>
                @foreach (var item in ViewBag.Controls)
                {
                    <tr>

                        <td>
                            <p>
                                @item.DisplayName
                            </p>
                        </td>

                        <td>
                            <p>
                                @item.DisplayValueType
                            </p>
                        </td>

                        <td>
                            <div class="fa-container-links-centered">
                                <button type="button" class="transparent-btn" data-toggle="modal-toggler" data-target="#ControlEdit" data-url="@Url.Action("ControlEdit", new { id = item.Id })">
                                    <i class="fa fa-pen"></i>
                                </button>
                                <a href="#">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>


</section>
