@model O2GEN.Models.PersonPosition

<div class="modal fade" id="EmployeePositionEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @if (Model.Id == -1)
                {
                    <h5>Новая запись</h5>
                }
                else
                {
                    <h5>Изменить запись №@Model.Id</h5>
                }
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <div class="tab-content bg-light">

                    <div id="major-tab" class="tab-pane active">
                        <div class="row-container color-black">

                            <div class="row-div-two">
                                <form action="CreateZpr">
                                    <div class="form-group">
                                        <div class="margin-between-above">
                                            <label asp-for="Name"></label>
                                            <input asp-for="Name" class="form-control" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="margin-between-above">
                                            <label asp-for="DisplayName"></label>
                                            <input asp-for="DisplayName" class="form-control" />
                                            <span asp-validation-for="DisplayName" class="text-danger"></span>
                                        </div>
                                        <div class="margin-between-above">
                                            <label asp-for="ObjectUID"></label>
                                            <input asp-for="ObjectUID" class="form-control" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-outline-primary">Применить</button>
            </div>
        </div>
    </div>
</div>