@{
    ViewData["Title"] = "Главное";
}

<script src="~/lib/bsttdtp/js/jquery.min.js"></script>
<script src="~/lib/bsttdtp/js/popper.min.js"></script>
<script src="~/lib/bsttdtp/js/moment-with-locales.min.js"></script>
<script src="~/lib/bsttdtp/js/base.js"></script>
<script src="~/lib/bsttdtp/js/tempusdominus-bootstrap-4.js"></script>
<link href="~/lib/bsttdtp/css/tempusdominus-bootstrap-4.css" rel="stylesheet" />
<style>
    .bootstrap-datetimepicker-widget.dropdown-menu {
        width: auto;
    }

    .timepicker-picker table td a span,
    .timepicker-picker table td,
    .timepicker-picker table td span {
        height: 20px !important;
        line-height: 20px !important;
        vertical-align: middle;
        width: 30px !important;
        padding: 0px !important;
    }
</style>

<nav class="navbar" style="top:-48px">

    <div class="container-fluid">
        <div class="row">

            <div class="form-inline">
                <button type="button" id="earth" class="btn btn-info" style="background-color: steelblue">
                    <i class="fas fa-globe-americas"></i>
                </button>
                <div class="d-inline">&nbsp;</div>
                <button type="button" id="reload" class="btn btn-info" style="background-color: steelblue">
                    <i class="fas fa-redo-alt"></i>
                </button>
                <div class="d-inline">&nbsp;</div>
                <label for="datetimepicker2">СЕГОДНЯ</label>
                <div class="input-group date col-auto" id="datetimepicker2" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" id="itdtp2" style="width:150px;" />
                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</nav>

<nav class="navbar" style="top:-96px">

    <div class="container-fluid">
        <div class="row">

            <div class="d-flex justify-content-start">
                <button type="button" class="btn btn-secondary">ЗПР в работе</button>
                <div class="d-inline">&nbsp;</div>
                <button type="button" class="btn btn-secondary">ЗПР выданные</button>
                <div class="d-inline">&nbsp;</div>
                <button type="button" class="btn btn-secondary">ЗПР закрытые</button>
            </div>
        </div>
    </div>



</nav>
<nav class="navbar" style="top:-144px">

    <div class="container-fluid">
        <div class="row">

            <div class="d-flex justify-content-start">
                <button type="button" class="btn btn-secondary"><i class="fas fa-plus"></i>Создать</button>

                <div class="d-inline">&nbsp;</div>
                <button type="button" class="btn btn-secondary"><i class="fas fa-filter"></i>Фильтры</button>
            </div>
        </div>
    </div>
</nav>
<nav class="navbar" style="top:-192px">
<div class="container-fluid" style="max-width: 1500px; background-color: whitesmoke">
    <div class="row" style="max-width:1500px">

        <div class="col-sm">
            <table class="table table-bordered table-sm table-striped" style="background-color: whitesmoke">
                <thead>
                    <tr>
                        <th scope="col">Тип оборудования</th>
                        <th scope="col">Статус обхода</th>
                        <th scope="col">Тип обхода</th>
                        <th scope="col">Обход</th>
                        <th scope="col">Обходчик</th>
                        <th scope="col">Дата начала(план)</th>
                        <th scope="col">Дата окончания(план)</th>
                        <th scope="col">Дефект</th>
                        <th scope="col">Редактирование</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</nav>



<script type="text/javascript">
    $.noConflict();
    jQuery(document).ready(function ($) {
        $('#datetimepicker2').datetimepicker({
            defaultDate: moment().subtract(2, 'days'),
            locale: 'ru',
            icons: {
                time: "fa fa-clock",
                date: "fa fa-calendar-alt",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            },
            maxDate: moment()
        });


    });
</script>



@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{

    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}
