@{
    ViewData["Title"] = "СМИК";
}
@{
    Layout = "_Layout_NULL";
}

<div class="container" style="height: 100%; display: flex; justify-content: center; align-items: center;">
    <div class="jumbotron pt-5 pb-5">
        <img src="~/img/694046.png" class="mb-3" />
        <h2>Добро пожаловать в СМИК</h2>
        <h2>(Системы Мобильных Инспекций и Контроля)</h2>
        <hr class="my-4">
        <p>Для начала работы нажмите кнопку "Начать"</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary btn-lg" role="button">Начать</a>
    </div>
</div>
