
@{
    ViewData["Title"] = "Home Page";
}
@model O2GEN.ViewModels.RegisterViewModel

@{
    Layout = "_Layout_NULL";
}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div style="background-color:whitesmoke" class="col-4">
         
                    <h2>O2GEN</h2>
                    <h2>Регистрация</h2>
                    <form method="post" asp-controller="Account" asp-action="Register">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="mb-4">
                            <label asp-for="Email" class="form-label"></label><br />
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="Year" class="form-label"></label><br />
                            <input asp-for="Year" class="form-control" />
                            <span asp-validation-for="Year"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="Password" class="form-label"></label><br />
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="PasswordConfirm" class="form-label"></label><br />
                            <input asp-for="PasswordConfirm" class="form-control" />
                            <span asp-validation-for="PasswordConfirm"></span>
                        </div>
                        <div class="mb-4">
                            <input type="submit" value="Регистрация" />
                        </div>
                    </form>
                </div>
            </div>
        </div>


