@{
    ViewData["Title"] = "Home Page";
}
@model O2GEN.ViewModels.RegisterViewModel

@{
    Layout = "_Layout_NULL";
}



<div class="d-flex align-items-center flex-column justify-content-center h-100" id="header">


    <div>

        <img src="~/O2gen-Page-2.png" class="img-fluid" />
        <div>

            <form method="post" asp-controller="Account" asp-action="Register">
                <div class="form-group">
                    <h2>Регистрация</h2>
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="mb-4">
                        <label asp-for="Email" class="form-label"></label><br />
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="Year" class="form-label"></label><br />
                        <input asp-for="Year" class="form-control" />
                        <span asp-validation-for="Year"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="Password" class="form-label"></label><br />
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="PasswordConfirm" class="form-label"></label><br />
                        <input asp-for="PasswordConfirm" class="form-control" />
                        <span asp-validation-for="PasswordConfirm"></span>
                    </div>
                    <div class="mb-4">
                        <input type="submit" class="btn btn-secondary btn-lg btn-block" value="Регистрация" />
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>




