$primary-color: #f6522e;
$white-color: white;
$dark-color: #001f3f;
$blue-color: #0074D9;
$silver-color: #999;
$orchid-color: #926AA6;
$darker-blue-color: #1863AB;
$footer-color: #323b40;
$gray-color: #AAAAAA;
$menu-mouse-over: #b9dce0;
$header-color: #3E3838;
$str-blue: steelblue;

$large-font-size: 38px;
$normal-font-size: 30px;
$small-font-size: 22px;
$very-small-font-size: 15px;

$p-normal-font-size: 18px;
$p-small-font-size: 16px;
$p-very-small-font-size: 14px;
$p-most-small-font-size: 12px;

@import 'Mixins.scss';

p {
    margin:0px;
    padding: 0px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset;
    /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset;
    /*your box-shadow*/
    -webkit-text-fill-color: #333;
}

.fa {
    color: white;
}

.fa-container-links-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    a {
        color:$silver-color;
    }
}

.ul-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ul-list li {
    margin: 0 5px;
}

.ul-list li a {
    color: white;
}

.ul-list > li.logout-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 5px;
}

.ul-list > li.logout-form p {
    color: white;
    text-align: center;
    margin: 0px;
}

.ul-list-left-aligned {
    @include flex-list(row);

    align-items:center;
    padding:7px;
    color:white;

/*    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    padding: 7px;
    list-style:none;*/
}

.ul-list-left-aligned-colum {
    @include flex-list(column);

    align-items:flex-start;
    padding:7px;
    color:white;

    li {
        margin:0px;
        padding:0px;

        p {
            margin:0px;
            padding:0px;
        }
    }
}

.ul-list-left-aligned li {
    margin: 0 10px;
    display: inline-flex;
}

.ul-list-left-aligned li .fa {
    align-self: center;
    margin: 0 5px;
}

.ul-list-right-aligned {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    color: white;
    padding: 7px;
    list-style: none;

    li {
        margin: 0 10px;
        display: inline-flex;

        .fa {
            align-self: center;
            margin: 0 5px;
        }
    }
}

.li-text-white {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section {
    padding-top: 20px;
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column-container {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.row-container-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.row-div-two {
    float: left;
    width: 48%;
    padding: 5px;
}

.row-col-70 {
    float: left;
    width: 79%;
    padding: 5px;
}

.row-col-40 {
    float: left;
    width: 19%;
    padding: 5px;
}

.content-div {
    padding: 40px;
}

.content-div > h1, .content-div h2, .content-div h3, .content-div h4, .content-div h5, .content-div h6, .content-div h7 {
    color: black;
    text-align: center;
}

.content-div p {
    font-size: 18px;
    color: black;
}

.component-section {
    padding:2px 0;
}

.bg-blue {
    background: $str-blue;
}

.transparent-btn {
    display:flex;
    flex-direction:row;
    background: transparent;
    border: 0px;
    margin: 0px;
    padding: 0px;
    align-items: center;
    outline:none;
    border:none;

    p {
        text-align:center;
        margin:0px 2px;
    }

    &:hover{
        p {
            color: $menu-mouse-over;
        }

        .fa {
            color: $menu-mouse-over;
        }
    }
    
    &:focus {
        outline:none;
        border:none;
    }
}

.top-margin {
    margin: 5px 0 0 0;
}

.bg-light {
    color: white;
}

.color-black {
    color:black;
}

.nav-link {
    background-color: lightgrey;
}

.nav-link.active {
    background-color: white;
}

.color-white {
    color: white;
}

.navbar {
    margin-bottom:0px;
}

.no-margin {
    margin:0px;
}

.no-padding {
    padding: 0px;
}

.margin-between-above {
    margin: 10px 0;
}

.margin-between-aside
{
    margin: 0 10px;
}

.margin-around {
    margin: 10px;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(45deg);
}

.nested {
    display: none;
    list-style: none;
}

.active {
    display: block;
}

.with-padding {
    padding:7px;
}

.nav-link-with-arrow {
    cursor: pointer;
}

.nav-link-with-arrow::before{
    content:"\003e";
    margin:0 10px 0 0;
}

.no-left-margin {
    margin-left:0px;
}

@media screen and (max-width: 1000px) {
    .row-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .row-div-two, .row-col-70, .row-col-40 {
        width: 100%;

        .ul-list-left-aligned {
            justify-content: center;
        }

        .ul-list-right-aligned {
            justify-content: center;
        }
    }

    .ul-list-left-aligned-colum {
        align-items: center;
    }

    .content-img {
        width: 100%;
        height: 100%;
    }
}


@media screen and (max-width: 527px)
{
    .row-div-two, .row-col-70, .row-col-40 {
        flex-direction: column;
        width:100%;

        .ul-list-left-aligned {
            flex-direction: column;

            li {
                margin: 5px 0;
            }
        }

        .ul-list-left-aligned-colum
            {
            align-items:center;
        }
    }
}
