@model O2GEN.Models.EmployeeModels.DepartmentListModel
@{
    ViewData["Title"] = "Бригады";
}
<div id="placeholder"></div>

<section class="component-section">

    <div class="row-container-left">
        <button class="transparent-btn">
            <i class="fa fa-plus color-white">

            </i>
            <p class="color-white">Создать</p>

        </button>
    </div>

    <div class="margin-between-above">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        <p>
                            Отображаемое значение
                        </p>
                    </th>

                    <th>
                        <p>
                            
                        </p>
                    </th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Departments)
                {
                    <tr>
                        <td>
                            <ul class="ul-list-left-aligned-colum color-black">
                                <li>
                                    <span class="caret">@item.DisplayName</span>
                                    <ul class="nested">
                                        @if (item.Childs != null)
                                        {
                                            foreach (var md in item.Childs)
                                            {
                                            <li>@md.DisplayName</li>
                                            }
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </td>

                        <td>
                            <div class="fa-container-links-centered">
                                <button class="transparent-btn" data-toggle="modal-toggler" data-target="#departmentEdit" data-url="@Url.Action("EditDepartment", new { id = item.Id })">
                                    <i class="fa fa-pen"></i>
                                </button>
                                <a href="#">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>


</section>