@model O2GEN.Models.EmployeeModels.ResourcesListModels
@{
    ViewData["Title"] = "Ресурсы";
}
<script type="text/javascript" src="~/js/ResourceEdit.js"></script>
<section class="component-section">

    <div id="placeholder"></div>
    <div class="row-container-left bg-blue with-padding">
        <button type="button" class="transparent-btn" data-toggle="modal-toggler" data-target="#ResourceEdit" data-url="@Url.Action("ResourceCreate")">
            <i class="fa fa-plus color-white"></i>
            <p class="color-white">Создать</p>
        </button>
    </div>

    <div class="margin-between-above">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        <p>
                            Отображаемое название
                        </p>
                    </th>
                    <th width="300">
                        <p class="text-center">
                            Изменить/Удалить
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Resources)
                {
                    <tr>
                        <td>
                            <p>
                                @item.DisplayName
                            </p>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-info mr-1" data-toggle="modal-toggler" data-target="#ResourceEdit" data-url="@Url.Action("ResourceEdit", new { id = item.Id })">
                                    <i class="fa fa-pen"></i>
                                </button>
                                <button type="submit" class="btn btn-danger ml-1" data-url="@Url.Action("ResourceDelete", new { id = item.Id })">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
